ARC_Corpus.txt
model_weights
.idea
BART Model Set Up modify.ipynb
sample corpus.txt
path
ARC_corpus.csv
commonsenseQA/dev_rand_split.jsonl
commonsenseQA/test_rand_split_no_answers.jsonl
commonsenseQA/train_rand_split.jsonl
1.5k_complete1.csv
1.5k_complete2.csv
1.5k_complete3.csv
1.5k_data2.csv